.topbar {
  background-color: #24303f;
  z-index: 1000;
  align-items: center;
  margin-left: 258px;
}

.title-container {
  display: inline-flex;
}

.title-remote {
  color: #1a222c;
  padding: 10px 10px;
}

.title-trends {
  background-color: #1a222c; 
  color: #fff; 
  margin-left: 10px;
}