body, h1, .main-content, .charts-container {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc(100% - 250px);
    margin-left: 250px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #1a222c;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.charts-container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#chart-container {
    width: 100%;
    height: 400px;
    background-color: #24303f;
    box-sizing: border-box;
}

