.main-content {
    background-color: #344b67;
    min-height: 100vh;
    padding-top: 103px;
}

@media (min-width: 992px) {
    .main-content {
        margin-left: 250px;
        
    }
}

.charts-container {
    flex-direction: column;
}

#chart-container {
    background-color: #24303f;
}

.top-jobs-chart {
    background-color: #24303f;
}

.chart {
    box-sizing: border-box;
    background-color: #24303f;
}