* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: #1a222c;
    color: white;
    position: fixed;
    z-index: 1050;
}

.sidebar .nav-link {
    color: white;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    color: #74b3f1;
}

.sidebar .nav-link:active,
.sidebar .nav-link:focus {
    color: #f8f9fa;
    background-color: transparent;
    outline: none;
}

.navbar-cus {
    background-color: #24303f;
}

.navbar-toggler {
    display: block;
    z-index: 1300;
    cursor: pointer;
}

.navigation-bar {
    display: flex;
    align-items: center;
}

.offcanvas-custom {
    background-color: #1a222c !important;
    color: white !important;
}

.offcanvas-custom .nav-link {
    color: white !important;
}

.offcanvas-custom .nav-link:hover {
    color: #74b3f1 !important;
}

.navbar-toggler-icon {
    background-color: white;
}

.active-link {
    color: #2083e6 !important;
    background-color: #3a4b5f !important;
    border-radius: 2px;
}
